doctype html
html

   head
      include ./meta_config.pug

      title "Algorithm upload"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.index

      include ./navbar.pug

      div.container-fluid

        div.row
          div.col-md-12
            h1 Upload your algorithm

            form#algorithm-uploader(method="post" enctype="multipart/form-data")
              p Algorithm Name
              br
              input#algorithm_name(type="text", name="algorithm_name", required)
              p Version
              br
              input#algorithm_version(type="text", name="algorithm_version", required)
              input(type="file" name="algorithmUploader", required)
              input(type="submit" name="submit" id="btnSubmit" value="Upload")
