doctype html
html

   head
      include ./meta_config.pug

      title "Experiment Configuration"
      script
        include ../public/js/checkboxes.js
        include ../public/js/page_selection.js
        include ../public/js/config_validator.js
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/config.css')
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")

   body.index

      include ./navbar.pug

      div.container-fluid.px-0

        div.row
          div.col-md-12
            h1 Configure your experiment
        div.row
          div.col-md-12
            form(method="post")
              div.pages
                div.row
                  div.col-md-6(style="text-align:center")
                    // Host Number

                    div.checkbox_div
                      p Host Number
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of hosts (real machines)
                                the datacenter will have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_host_number(type="checkbox", style="position:sticky", name="checkbox_host", onclick="checkbox('checkbox_host_number', 'host_random_div' ,'host_number_exact'); validation('checkbox_host_number', 'host_number_exact', 'host_number_max', 'host_number_min')")

                    div.center
                      input#host_number_exact(type="text", name="host_exact", placeholder="Number of Hosts", required)

                    div#host_random_div(style="display:none")
                      input#host_number_max(type="text", name="host_max", placeholder="Max Hosts")
                      input#host_number_min(type="text", name="host_min", placeholder="Min Hosts", onchange="maxMinValidation('host_number_max', 'host_number_min')")

                  div.col-md-6
                    // Host Number of PEs

                    div.checkbox_div
                      p Host Number PEs
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of processing units that each
                                host in the datacenter is going to have.

                      span.randomize.
                          Randomize Parameter
                      input#checkbox_host_number_pes(type="checkbox", name="checkbox_host_pes", onclick="checkbox('checkbox_host_number_pes', 'host_pes_random_div' ,'host_number_pes_exact'); validation('checkbox_host_number_pes', 'host_number_pes_exact', 'host_number_pes_max', 'host_number_pes_min')")

                    div.center
                      input#host_number_pes_exact(type="text", name="host_pes_exact", placeholder="Number of Hosts PEs", required)

                    div#host_pes_random_div(style="display:none")
                      input#host_number_pes_max(type="text", name="host_pes_max", placeholder="Max Hosts PEs")
                      input#host_number_pes_min(type="text", name="host_pes_min", placeholder="Min Hosts PEs", onchange="maxMinValidation('host_number_pes_max', 'host_number_pes_min')")


                div.row
                  div.col-md-6
                    // Hosts RAM

                    div.checkbox_div
                      p Hosts RAM
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of RAM (in MB) each host in the
                                datacenter will have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_host_ram(type="checkbox", name="checkbox_host_ram", onclick="checkbox('checkbox_host_ram', 'host_ram' ,'host_ram_exact'); validation('checkbox_host_ram', 'host_ram_exact', 'host_ram_max', 'host_ram_min')")

                    div.center
                      input#host_ram_exact(type="text", name="host_ram_exact", placeholder="Hosts RAM", required)

                    div#host_ram(style="display:none")
                      input#host_ram_max(type="text", name="host_ram_max", placeholder="Max Hosts RAM")
                      input#host_ram_min(type="text", name="host_ram_min", placeholder="Min Hosts RAM", onchange="maxMinValidation('host_ram_max', 'host_ram_min')")

                  div.col-md-6
                    // Hosts BW

                    div.checkbox_div
                      p Hosts BW
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of bandwidth that each
                                host in the datacenter is going to have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_host_bw(type="checkbox", name="checkbox_host_bw", onclick="checkbox('checkbox_host_bw', 'host_bw' ,'host_bw_exact'); validation('checkbox_host_bw', 'host_bw_exact', 'host_bw_max', 'host_bw_min')")

                    div.center
                      input#host_bw_exact(type="text", name="host_bw_exact", placeholder="Hosts BW", required)

                    div#host_bw(style="display:none")
                      input#host_bw_max(type="text", name="host_bw_max", placeholder="Max Hosts BW")
                      input#host_bw_min(type="text", name="host_bw_min", placeholder="Min Hosts BW", onchange="maxMinValidation('host_bw_max', 'host_bw_min')")
                div.row
                  div.col-md-12(style="text-align:center;itens-align:center")
                    // Hosts HD

                    div.checkbox_div
                      p Hosts HD
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of HD that each
                                host in the datacenter is going to have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_host_hd(type="checkbox", name="checkbox_host_hd", onclick="checkbox('checkbox_host_hd', 'host_hd' ,'host_hd_exact'); validation('checkbox_host_hd', 'host_hd_exact', 'host_hd_max', 'host_hd_min')")

                    div.center
                      input#host_hd_exact(type="text",name="host_hd_exact" , placeholder="Hosts HD", required)

                    div#host_hd(style="display:none")
                      input#host_hd_max(type="text", name="host_hd_max", placeholder="Max Hosts HD")
                      input#host_hd_min(type="text", name="host_hd_min", placeholder="Min Hosts HD", onchange="maxMinValidation('host_hd_max', 'host_hd_min')")

              //--------------------- VM CONFIGURATION PAGE ----------------------
              div.pages
                div.row
                  div.col-md-6(style="text-align:center")
                    // VMs Number

                    div.checkbox_div
                      p VM Number
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of VMs (virtual machines)
                                the datacenter will have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_vm_number(type="checkbox", style="position:sticky", name="checkbox_vm", onclick="checkbox('checkbox_vm_number', 'vm_random_div' ,'vm_number_exact'); validation('checkbox_vm_number', 'vm_number_exact', 'vm_number_max', 'vm_number_min')")

                    div.center
                      input#vm_number_exact(type="text", name="vm_exact", placeholder="Number of VMs", required)

                    div#vm_random_div(style="display:none")
                      input#vm_number_max(type="text", name="vm_max", placeholder="Max VMs")
                      input#vm_number_min(type="text", name="vm_min", placeholder="Min VMs", onchange="maxMinValidation('vm_number_max', 'vm_number_min')")

                  div.col-md-6
                    // VM Number of PEs

                    div.checkbox_div
                      p VM Number PEs
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of processing units that each
                                VM in the datacenter is going to have.

                      span.randomize.
                          Randomize Parameter
                      input#checkbox_vm_number_pes(type="checkbox", name="checkbox_vm_pes", onclick="checkbox('checkbox_vm_number_pes', 'vm_pes_random_div' ,'vm_number_pes_exact'); validation('checkbox_vm_number_pes', 'vm_number_pes_exact', 'vm_number_pes_max', 'vm_number_pes_min')")

                    div.center
                      input#vm_number_pes_exact(type="text", name="vm_pes_exact", placeholder="Number of VMs PEs", required)

                    div#vm_pes_random_div(style="display:none")
                      input#vm_number_pes_max(type="text", name="vm_pes_max", placeholder="Max VMs PEs")
                      input#vm_number_pes_min(type="text", name="vm_pes_min", placeholder="Min VMs PEs", onchange="maxMinValidation('vm_number_pes_max', 'vm_number_pes_min')")


                div.row
                  div.col-md-6
                    // VMs RAM

                    div.checkbox_div
                      p VMs RAM
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of RAM (in MB) each VM in the
                                datacenter will have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_vm_ram(type="checkbox", name="checkbox_vm_ram", onclick="checkbox('checkbox_vm_ram', 'vm_ram' ,'vm_ram_exact'); validation('checkbox_vm_ram', 'vm_ram_exact', 'vm_ram_max', 'vm_ram_min')")

                    div.center
                      input#vm_ram_exact(type="text", name="vm_ram_exact", placeholder="VMs RAM", required)

                    div#vm_ram(style="display:none")
                      input#vm_ram_max(type="text", name="vm_ram_max", placeholder="Max VMs RAM")
                      input#vm_ram_min(type="text", name="vm_ram_min", placeholder="Min VMs RAM", onchange="maxMinValidation('vm_ram_max', 'vm_ram_min')")

                  div.col-md-6
                    // VMs BW

                    div.checkbox_div
                      p VMs BW
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of bandwidth that each
                                VM in the datacenter is going to have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_vm_bw(type="checkbox", name="checkbox_vm_bw", onclick="checkbox('checkbox_vm_bw', 'vm_bw' ,'vm_bw_exact'); validation('checkbox_vm_bw', 'vm_bw_exact', 'vm_bw_max', 'vm_bw_min')")

                    div.center
                      input#vm_bw_exact(type="text", name="vm_bw_exact", placeholder="VMs BW", required)

                    div#vm_bw(style="display:none")
                      input#vm_bw_max(type="text", name="vm_bw_max", placeholder="Max VMs BW")
                      input#vm_bw_min(type="text", name="vm_bw_min", placeholder="Min VMs BW", onchange="maxMinValidation('vm_bw_max', 'vm_bw_min')")

                div.row
                  div.col-md-12(style="text-align:center;itens-align:center")
                    // VMs HD

                    div.checkbox_div
                      p VMs HD
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the amount of HD that each
                                vm in the datacenter is going to have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_vm_hd(type="checkbox", name="checkbox_vm_hd", onclick="checkbox('checkbox_vm_hd', 'vm_hd' ,'vm_hd_exact'); validation('checkbox_vm_hd', 'vm_hd_exact', 'vm_hd_max', 'vm_hd_min')")

                    div.center
                      input#vm_hd_exact(type="text",name="vm_hd_exact" , placeholder="VMs HD", required)

                    div#vm_hd(style="display:none")
                      input#vm_hd_max(type="text", name="vm_hd_max", placeholder="Max VMs HD")
                      input#vm_hd_min(type="text", name="vm_hd_min", placeholder="Min VMs HD", onchange="maxMinValidation('vm_hd_max', 'vm_hd_min')")
              //--------------------- CLOUDLET CONFIGURATION PAGE ----------------------
              div.pages
                div.row
                  div.col-md-6
                    // cloudlets Number

                    div.checkbox_div
                      p Task Number
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of cloudlets (tasks)
                                the datacenter will have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_cloudlet_number(type="checkbox", style="position:sticky", name="checkbox_cloudlet", onclick="checkbox('checkbox_cloudlet_number', 'cloudlet_random_div' ,'cloudlet_number_exact'); validation('checkbox_cloudlet_number', 'cloudlet_number_exact', 'cloudlet_number_max', 'cloudlet_number_min')")

                    div.center
                      input#cloudlet_number_exact(type="text", name="cloudlet_exact", placeholder="Number of Tasks", required)

                    div#cloudlet_random_div(style="display:none")
                      input#cloudlet_number_max(type="text", name="cloudlet_max", placeholder="Max Tasks")
                      input#cloudlet_number_min(type="text", name="cloudlet_min", placeholder="Min Tasks", onchange="maxMinValidation('cloudlet_number_max', 'cloudlet_number_min')")

                  div.col-md-6
                    // cloudlet Number of PEs

                    div.checkbox_div
                      p Task PEs
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of processing units that each
                                cloudlet in the datacenter is going to have.

                      span.randomize.
                          Randomize Parameter
                      input#checkbox_cloudlet_number_pes(type="checkbox", name="checkbox_cloudlet_pes", onclick="checkbox('checkbox_cloudlet_number_pes', 'cloudlet_pes_random_div' ,'cloudlet_number_pes_exact'); validation('checkbox_cloudlet_number_pes', 'cloudlet_number_pes_exact', 'cloudlet_number_pes_max', 'cloudlet_number_pes_min')")

                    div.center
                      input#cloudlet_number_pes_exact(type="text", name="cloudlet_pes_exact", placeholder="Number of Tasks PEs", required)

                    div#cloudlet_pes_random_div(style="display:none")
                      input#cloudlet_number_pes_max(type="text", name="cloudlet_pes_max", placeholder="Max Tasks PEs")
                      input#cloudlet_number_pes_min(type="text", name="cloudlet_pes_min", placeholder="Min Tasks PEs", onchange="maxMinValidation('cloudlet_number_pes_max', 'cloudlet_number_pes_min')")

                div.row
                  div.col-md-6
                    // Cloudlets Length

                    div.checkbox_div
                      p Tasks Length
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the length that each
                                cloudlet in the datacenter is going to have.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_cloudlet_length(type="checkbox", name="checkbox_cloudlet_length", onclick="checkbox('checkbox_cloudlet_length', 'cloudlet_length' ,'cloudlet_length_exact'); validation('checkbox_cloudlet_length', 'cloudlet_length_exact', 'cloudlet_length_max', 'cloudlet_length_min')")

                    div.center
                      input#cloudlet_length_exact(type="text",name="cloudlet_length_exact" , placeholder="Tasks Length", required)

                    div#cloudlet_length(style="display:none")
                      input#cloudlet_length_max(type="text", name="cloudlet_length_max", placeholder="Max Tasks Length")
                      input#cloudlet_length_min(type="text", name="cloudlet_length_min", placeholder="Min Tasks Length", onchange="maxMinValidation('cloudlet_length_max', 'cloudlet_length_min')")

                  div.col-md-6
                    // Datacenters

                    div.checkbox_div
                      p Datacenters
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of datacenters in the simulation.
                      span.randomize.
                          Randomize Parameter
                      input#checkbox_datacenters(type="checkbox", name="checkbox_datacenters",
                        onclick="checkbox('checkbox_datacenters', 'datacenters' ,'datacenters_exact'); validation('checkbox_datacenters', 'datacenters_exact', 'datacenters_max', 'datacenters_min')")

                    div.center
                      input#datacenters_exact(type="text",name="datacenters_exact" , placeholder="Datacenters", required)

                    div#datacenters(style="display:none")
                      input#datacenters_max(type="text", name="datacenters_max", placeholder="Max Datacenters")
                      input#datacenters_min(type="text", name="datacenters_min", placeholder="Min Datacenters", onchange="maxMinValidation('datacenters_max', 'datacenters_min');")

                div.row
                  div.col-md-12(style="text-align:center;itens-align:center")
                    // Number of Iterations

                    div.checkbox_div
                      p Iterations
                        button.icon-button
                          span.far.fa-question-circle.icons
                            div.hide
                              p.
                                This option defines the number of iterations you
                                want in your simulation. When using random values,
                                this is useful to generate statistical relevance.
                    div.center
                      input#iterations_exact(type="text",name="iterations_exact" , placeholder="Iterations", required)

              div.row
                div.col-md-12(style="text-align:center;")
                  a.icon-button(onclick="plusPage(-1)", href="#")
                    span.fas.fa-arrow-circle-left#previous-button
                  a.icon-button(onclick="plusPage(1)",  href="#")
                    span.fas.fa-arrow-circle-right#next-button
              div.row
                div.col-md-12(style="text-align:center;")
                  input.btn.btn-success#submit_button(type="submit", value="Generate Experiment",  style="width: 15%")
