doctype html
html

   head

      title "Extensible Platform for Cloud Scheduling Algorithm Comparison"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.index

      include ./navbar.pug

      h1 Extensible Platform for Cloud Scheduling Algorithm Comparison (EPCSAC)
      p.
         The EPCSAC is an online platform developed to help researchers improve
         their researches by comparing their scheduling algorithms with other
         published algorithms. Create your account or login to start simulating
         and comparing your results.

      div.index-button-area
        a.btn.btn-success.index-button(href='login') Login
        br
        a.btn.btn-success.index-button(href='signup') Sign up
