doctype html
html

   head

      title "Extensible Platform for Cloud Scheduling Algorithm Comparison"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.index

      include ./navbar.pug

      div.container-fluid
         div.row
            div.col-md-6
               h1 Extensible Platform for Cloud Scheduling Algorithm Comparison (EPCSAC)
               p.
                  The EPCSAC is an online platform developed to help researchers improve
                  their researches by comparing their scheduling algorithms with other
                  published algorithms. Create your account or login to start simulating
                  and comparing your results.
               div
                  a.btn.index-button(href='signup', style='color:white') Sign up

            div.col-md-6(style='padding-left: 150px;')
               img(src="/images/logo.png", style="height: 200px; width: auto;")

