doctype html
html
   head
      title "Extensible Platform for Cloud Scheduling Algorithm Comparison"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
   body
      h1 Extensible Platform for Cloud Scheduling Algorithm Comparison (EPCSAC)
      p.greetings#people Hello World!
