doctype html
html

   head

      title "Login into EPCSAC"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.login-page
      include ./navbar.pug

      div.login-div
        img(src="/images/logo.png", style="height: 100px; width: auto;")
        form.login-form(method= "POST")
          div
            input(type="email", placeholder="Email", name="email", maxLength="320", style='margin-bottom: -15px;' required)
          div
            input(type="password", placeholder="Password", name="password", maxLength="100", required)
          div
            input.btn.btn-success(type="submit", value="Login", style="width: 15%; margin-top:-10px; background-color: #243665; border: none")

          script
            include ../public/js/validator.min.js
