doctype html
html

   head

      title "Login into EPCSAC"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.login-page
      include ./navbar.pug

      h1 Login into EPCSAC

      div.login-div
        form.login-form(method= "POST")

          input(type="email", placeholder="Email", name="email", maxLength="320" required)

          input(type="password", placeholder="Password", name="password", maxLength="100", required)

          input(type="submit", value="Login")

          script
            include ../public/js/validator.min.js
