div.navbar-div
  nav.navbar.navbar-light.bg-white
    a.navbar-brand(href='/') EPCSAC
    button.navbar-toggler(type='button', data-toggle='collapse',
      data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent',
      aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
