doctype html
html

  head
    title You need to confirm your account
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script
      include ../public/js/bootstrap.min.js
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    include ./navbar.pug
    div.container-fluid
      div.row
        div.col-md-12(style="text-align:center;")
          h1 Please, confirm your account
          p You should have received an e-mail with a confirmation link
