doctype html
html

   head

      title "Signup into EPCSAC"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/config.css')

   body.signup-page
      include ./navbar.pug

      div.container-fluid

        div.row
          div.col-md-12
            h1 Create your account
          form(method="post")
            div.col-md-6
              p(style="font-size: 20px;") Username
              input(type="text", placeholder="Username", name="username", maxLength="100", required)

            div.col-md-6
              p(style="font-size: 20px;") E-mail
              input(type="email", placeholder="Email", name="email", data-error="Insert a valid e-mail", style="text-align: center !important", maxLength="320", required)
              div.help-block.with-errors

            div.col-md-6
              p(style="font-size: 20px;") Password
              input(type="password", placeholder="Password",id="InputPassword", name="password", style="text-align: center !important", maxLength="100", data-match="#ConfirmPassword", required)
              div.help-block.with-errors

            div.col-md-6
              p(style="font-size: 20px;") Password Confirmation
              input(type="password", placeholder="Password Confirmation", name="password_confirm", maxLength="100", style="text-align: center !important", data-match="#InputPassword", data-match-error="The passwords must match" required, id="ConfirmPassword")
              div.help-block.with-errors

            div.col-md-6
              p(style="font-size: 20px;") Name
              input(type="text", placeholder="Name", name="name", maxLength="100", required)

            div.col-md-6
              p(style="font-size: 20px;") Institution
              input(type="text", placeholder="Institution", name="institution", maxLength="100", required)

            div.col-md-12
              input.btn.btn-success(type="submit", value="Finish", style="width: 15%")

            script
              include ../public/js/validator.min.js
