doctype html
html

   head
      include ./meta_config.pug

      title "Simulation"
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')

   body.index

      include ./navbar.pug

      div.container-fluid

        div.row
          div.col-md-12
            h1 Run a simulation

            form#simulation-form(method="post", action='/simulation_run')
              p Choose your algorithm
              select(name='algorithm_selector')
                each algorithm in algorithms
                  option=algorithm
              p Choose your parameters
