p {
  margin: 0px;
  margin-bottom: -30px;
  padding: 0px;
  text-align: center !important;
}

body div {
  float: none;
  text-align: center;
}

body input {
  width: 25%;
  text-align: center;
}

#btnSubmit{
  width: 23%;
}

#param {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;;
}

table {
  margin: auto !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}