body {
  padding: 30px;
}

.navbar {
  margin: -30px;
  border: 1px solid grey;
  margin-bottom: 65px;;
}

.navbar a {
  color: white;
}

.navbar-toggler-icon{
  color: black
}

h1{
  text-align: center;
  padding-top: 25px;
}

.index p{
  padding-top: 15px;
  text-align: justify;
}

.index-button-area {
  padding: 50px;
  text-align: center;
}

.index-button {
  margin-top: 5px;
  width: 25%;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #243665;
  border-radius: 5px;
  align: center;
  margin: 5px auto;
}

input {
  margin: 25px;
  margin-top: 30px;
}

.login-div {
  text-align: center;
}

.logo-navbar{
  height: auto;
  width: 13%;;
}

.navbar-brand{
  width: 70%;
}

img.buttons {
  height: 25%;
  width: 25%;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.user_page_buttons{
  border: 1px #243665 solid;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

a:link, a:visited, a:hover, a:active { color: black }